@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(30, 30, 30);
    font-family: 'Inter', sans-serif;
    color: white;
}

#container {
    max-width: 75rem;
    margin: 0 auto;
    text-align: center;
}
.page-logo {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.alura-logo {
    display: block;
    width: 40px;
  }

#box-convert{
    margin: 50px;
}


#box-convert input{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border-color: #FADA06;
    background-color: #241f1f17;
    padding: 5px;
}

#box-convert input::placeholder{
    color: white;
}

#box-convert button{
    display: block;
    margin-left:  auto;
    color: rgb(255, 255, 255);
    margin-right:  auto;
    margin-top: 10px;
    background-color: #FADA06;
    border-radius: 20px;
    padding: 1%;
    border: none;
    width: 10%;
}